:root {
  --musicPlayerColor: #1e1c29;
  --backGround: #18171f;
  --musicSeekerColor: #0f0c1a;
  --controlBtnBorder: rgba(34, 31, 46, 1);
  --musicBtnShadow: rgba(255, 255, 255, 0.3);
  --textColor: #c77dff;
}

.light {
  --musicPlayerColor: #edebef;
  --backGround: #f0f0f0;
  --musicSeekerColor: #dedde3;
  --controlBtnBorder: rgba(248, 248, 248, 1);
  --musicBtnShadow: rgba(0, 0, 0, 0.3);
  --textColor: rgba(95, 48, 193, 1);
}

* {
  transition: 0.2s all ease;
}
body {
  font-family: "Open Sans", sans-serif !important;
  background-color: var(--backGround) !important;
  transition: 0.7s all ease !important;
}

.mainContainer {
  display: flex;
  /* height: 100vh; */
  align-items: center;
}
.musicPlayerContainer {
  background-color: var(--musicPlayerColor);
  z-index: -2;
}
.trackInfo {
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.coverImg {
  border: 5px solid var(--musicPlayerColor) !important;
}
.connectionAlert {
  text-align: justify;
}

.coverImg::before {
  content: " ";
  width: 100%;
  height: 100%;
}
.trackInfoContainer::before {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  background: linear-gradient(36deg, black, white);
  opacity: 0.1;
  z-index: -1;
  border-top-left-radius: var(--bs-border-radius-xxl) !important;
  border-top-right-radius: var(--bs-border-radius-xxl) !important;
}
.mainCoverBg {
  background-position: center;
  opacity: 0.6;
  border: 0.5px rgba(0, 0, 0, 0.1) solid;
  filter: blur(10px);
  z-index: -2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top-left-radius: var(--bs-border-radius-xxl) !important;
  border-top-right-radius: var(--bs-border-radius-xxl) !important;
  position: absolute;
}
.trackStatus {
  height: 100%;
}
.mainFooter {
  color: var(--textColor);
  background: var(--backGround);
}
.logo {
  font-family: "Pacifico", cursive;
}
.trackStatus > div:nth-child(1) {
  height: 35%;
}
.track_info {
  color: var(--textColor);
  text-shadow: 0px 0px 8px var(--textColor);
}
.mainMusicController {
  width: 100%;
  cursor: pointer;
  position: relative;
  border-radius: 37px;
  background: var(--musicSeekerColor);
  height: 20px;
}

.currentTrackSeeker::after {
  content: " ";
  width: 25px;
  height: 25px;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%) translateX(-100%);
  border-radius: 50%;
  display: block;
  box-shadow: 0px 0px 15px 7px rgba(146, 121, 246, 0.5);
  border: 3px solid rgba(23, 18, 33, 0.3);
  background: #9279f6;
}
.spinner-grow {
  animation: var(--bs-spinner-animation-speed) ease-out infinite
    var(--bs-spinner-animation-name);
}
.timer {
  color: #58526f;
}
.currentMusicSpinner {
  width: 15px !important;
  height: 15px !important;
}
#volumeText {
  color: var(--textColor);
}
#audioVolume {
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border: 2px solid var(--textColor);
  background-repeat: no-repeat;
  background-image: linear-gradient(
    to right,
    var(--textColor) 100%,
    transparent 0
  );
  cursor: pointer;
  box-shadow: inset 3px 4px 10px -1px;
  background-size: 0%;
  height: 15px;
  transition: 0.2s all ease;
}
#volumeIcon {
  color: var(--textColor);
}
#audioVolume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 7px rgba(146, 121, 246, 1);
  border: 2px solid rgba(23, 18, 33, 0.3);
  cursor: pointer;
  background: linear-gradient(
    135deg,
    rgba(89, 62, 197, 1) 0%,
    rgba(99, 66, 232, 1) 100%
  );
}
#audioVolume::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 7px rgba(146, 121, 246, 1);
  border: 2px solid rgba(23, 18, 33, 0.3);
  cursor: pointer;
  background: var(--textColor);
}

#audioVolume::-webkit-slider-runnable-track,
#audioVolume::-moz-range-track,
#audioVolume::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
#musicSeeker {
  appearance: none;
  -webkit-appearance: none;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    159deg,
    #593ec5 0%,
    rgba(99, 66, 232, 0) 110%
  );
  background-size: 0%;
  transition: 0.2s all ease;
}

#musicSeeker::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 7px rgba(146, 121, 246, 0.5);
  border: 3px solid rgba(23, 18, 33, 0.3);
  background: #9279f6;
}

#musicSeeker::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 7px rgba(146, 121, 246, 0.5);
  border: 3px solid rgba(23, 18, 33, 0.3);
  background: #9279f6;
}

#musicSeeker::-webkit-slider-runnable-track,
#musicSeeker::-moz-range-track,
#musicSeeker::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
.musicBtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px 3px var(--musicBtnShadow);
  border: 2px solid var(--controlBtnBorder);

  background: -moz-linear-gradient(
    135deg,
    rgba(89, 62, 197, 1) 0%,
    rgba(99, 66, 232, 1) 100%
  );
  background: -webkit-linear-gradient(
    135deg,
    rgba(89, 62, 197, 1) 0%,
    rgba(99, 66, 232, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(89, 62, 197, 1) 0%,
    rgba(99, 66, 232, 1) 100%
  );
}
#playBtn {
  width: 75px;
  height: 75px;
}
.musicBtn:hover {
  scale: 1.1;
  transition: 0.2s all ease;
}
.dark {
  --musicPlayerColor: #1e1c29;
  --backGround: #18171f;
  --musicSeekerColor: #0f0c1a;
  --controlBtnBorder: rgba(34, 31, 46, 1);
  --musicBtnShadow: rgba(255, 255, 255, 0.3);
  --textColor: #c77dff;
}

.themeToggle {
  width: 80px;
  height: 40px;
  background-color: #9279f6;
  border-radius: 20px;
  color: #fff;
  box-shadow: inset 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
  position: relative;
}
.themeControllerBtn {
  content: " ";
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  /* left: 5px; */
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s all ease;
  background-color: #18171f;
}
.darkModeToggle {
  left: 50% !important;
}
.preloader {
  width: 100vw;
  height: 100vh;
  background-color: #18171f;
  position: fixed;
  z-index: 999;
}
.loader {
  width: 150px;
  height: 150px;
  top: 0;
  left: 0;
  border-radius: 50%;
  animation: spinLoader 2s ease infinite;
}
.trackListsMenu > li {
  background-color: transparent;
  color: var(--textColor);
  cursor: pointer;
}
.trackListsMenu > li:hover {
  margin-left: 10px;
}
.playingIcon {
  animation: rotatePlayingIcon 1s ease-in infinite;
}
.collapseButton {
  background-repeat: no-repeat;
  background-image: linear-gradient(
    355deg,
    #593ec5 0%,
    rgba(99, 66, 232, 0) 110%
  );
  background-size: 100%;
}

@keyframes nextMusicAnimation {
  from {
    margin-left: -50px;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}

@keyframes coverImgLoader {
  from {
    filter: blur(10px);
  }
  to {
    filter: blur(0);
  }
}

@keyframes coverImgBg {
  from {
    filter: blur(0);
  }
  to {
    filter: blur(10px);
  }
}

@keyframes spinLoader {
  from {
    rotate: 0;
    border-top: 10px solid #9279f6;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #9279f6;
  }
  to {
    border-right: 10px solid #9279f6;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #9279f6;
    rotate: 360deg;
  }
}

@keyframes rotatePlayingIcon {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
